* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.header__menuSmall {
  display: flex;
  flex-flow: row-reverse nowrap;
  list-style: none;
  font: 16px "Roboto", sans-serif;
  color: #000000;
  margin: 0 auto 24px auto; }
  .header__menuSmall li {
    display: inline;
    padding: 0% 2% 0% 2%; }
    .header__menuSmall li a {
      padding: 8px 16px 8px 16px;
      background: #eb2626;
      color: #ffffff;
      font-weight: 600; }

.header__menu {
  list-style: none;
  font: 24px "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .header__menu li {
    padding: 0% 2% 0% 2%; }
    .header__menu li a {
      color: #222222;
      transition-duration: 0.5s; }
    .header__menu li a:hover {
      background: #222222;
      padding: 10px;
      color: #dfdfdf; }

.header__menu--activo {
  background: #09E07F;
  color: #222222;
  padding: 12px; }

body {
  background: #ffffff; }

.main__actividadDestacada p {
  padding-left: 16px; }

.main__actividadDestacada h2 {
  color: #eb2626; }

.main__categoria {
  padding: 0px 32px 0px 32px; }

.main__categoria--miniatura {
  width: 100%;
  margin: 8px 16px 8px 0px;
  border: solid #222222;
  text-align: center;
  background-image: linear-gradient(to right, #a13535, #eb2626);
  transform: skew(-10deg); }
  .main__categoria--miniatura img {
    width: 100%; }
  .main__categoria--miniatura h4 {
    margin: 12px 0px 12px 0px;
    text-transform: uppercase;
    font: 16px "Roboto", sans-serif;
    color: #ffffff; }

.main__retosSemanales--p {
  color: #000000;
  background-color: #09E07F;
  transform: skewY(2deg); }

.footer {
  text-align: center;
  font: 16px "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 16px;
  margin: 0;
  padding: 32px;
  background-image: linear-gradient(45deg, #a13535, #eb5426);
  color: #ffffff; }

.estrellas__estrella {
  margin-top: 16px;
  background: #222222; }
  .estrellas__estrella .estrellas__persona {
    padding: 0;
    color: #ffffff; }
    .estrellas__estrella .estrellas__persona img {
      width: 100%; }
    .estrellas__estrella .estrellas__persona h3 {
      padding: 16px 16px 8px 24px; }
    .estrellas__estrella .estrellas__persona h4 {
      padding: 8px 16px 16px 24px; }
  .estrellas__estrella .estrellas__videoEstrella {
    padding: 0; }
  .estrellas__estrella .estrellas__premios {
    padding: 0; }
    .estrellas__estrella .estrellas__premios h2 {
      text-align: center;
      margin: 0;
      padding: 12px;
      background: #09E07F;
      color: #000000; }
    .estrellas__estrella .estrellas__premios ol {
      color: #ffffff;
      font: 16px "Roboto", sans-serif;
      margin: 24px;
      font-family: 'Roboto', sans-serif; }

.rutinas {
  align-items: center; }
  .rutinas h2 {
    margin-top: 32px;
    padding-left: 24px; }
  .rutinas .rutinas__card {
    width: 300px;
    margin: 24px;
    border: 2px #787676 solid;
    padding: 0; }
    .rutinas .rutinas__card .btn-primary {
      color: #000000;
      background-color: #09E07F;
      border-color: #787676;
      width: 100%; }
    .rutinas .rutinas__card .btn-primary:hover {
      color: #ffffff;
      background-color: #f77811; }

.select {
  /* // A reset of styles, including removing the default dropdown arrow */
  /* appearance: none; */
  /* // Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 16px 16px 16px 16px;
  font: 16px "Roboto", sans-serif;
  font-weight: 700;
  background-color: #09E07F;
  background-image: linear-gradient(45deg, #09E07F, #99ffd1);
  cursor: inherit;
  line-height: inherit;
  /* outline: none; */ }

.tienda .tienda__subtitle {
  display: flex;
  align-items: center;
  background-color: #222222;
  color: #ffffff;
  height: 53px;
  line-height: 53px;
  flex-direction: row-reverse; }

.tienda .tabla {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 12px auto 12px auto; }
  .tienda .tabla th, .tienda .tabla td {
    border: 1px solid #787676;
    padding: 4px 24px 4px 16px; }
  .tienda .tabla th {
    font: 24px "Roboto", sans-serif;
    color: #ffffff;
    background-color: #000000; }
  .tienda .tabla .tabla__producto {
    height: 200px; }
  .tienda .tabla .tabla--resaltado {
    font-size: 20px;
    font-weight: 700;
    padding-left: 16px;
    margin: 0; }

.btn__primary {
  background-color: #09E07F;
  border-radius: 8px;
  padding: 12px;
  border: none;
  margin: 8px;
  transition-duration: 0.4s; }

.btn__primary:hover {
  background-color: #f08e1f;
  color: #FFFFFF; }

.header__title {
  font: normal 64px "Bebas Neue", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #373D3D;
  margin: 32px 0px 32px 0px; }

.title--animate {
  animation-name: title;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 0s; }

@keyframes title {
  0% {
    font-size: 64px;
    color: #373D3D;
    transform: skewY(4deg); }
  50% {
    font-size: 64px;
    color: #09E07F;
    transform: skewY(0deg); }
  100% {
    font-size: 64px;
    color: #373D3D;
    transform: skewY(4deg); } }

h2 {
  font: 24px "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 32px;
  padding-left: 24px;
  margin: 32px 0 32px 0;
  font-weight: 700; }

h3 {
  font: 20px "Roboto", sans-serif; }

h4 {
  font: 14px "Roboto", sans-serif; }

p {
  font: 16px "Roboto", sans-serif;
  color: #000000;
  margin: 8px 0px 8px 0px; }

.formulario {
  margin: 24px 8px 24px 16px; }
  .formulario h2 {
    font-style: italic; }
  .formulario h3 {
    margin: 12px 0px 12px 0px; }
  .formulario select {
    margin: 16px 0px 16px 0px; }

.formulario__suscribete {
  border: none;
  outline: solid #787676;
  margin: 0px; }
  .formulario__suscribete select {
    /* // A reset of styles, including removing the default dropdown arrow */
    /* appearance: none; */
    /* // Additional resets for further consistency */
    background-color: transparent;
    border: none;
    padding: 16px 16px 16px 16px;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: #1DF191;
    background-image: linear-gradient(45deg, #1DF191, #99ffd1);
    cursor: inherit;
    line-height: inherit;
    /* outline: none; */
    display: grid; }
  .formulario__suscribete select::-ms-expand {
    display: none; }

.formulario__input {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 8px; }
  .formulario__input label {
    padding-right: 24px; }

.formulario__check {
  margin: 8px auto 24px auto; }
  .formulario__check p {
    display: inline-block;
    margin: 0px; }

.btn {
  font: 16px "Roboto", sans-serif;
  padding: 12px; }

.btn__btnOk {
  background-color: #84D725;
  border-radius: 0px;
  border: none;
  margin: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  height: 50px;
  width: 200px;
  font-size: 16px;
  transition-duration: 1s; }
