$font_title: normal 64px 'Bebas Neue', sans-serif; 
$font_14: 14px 'Roboto', sans-serif;
$font_16: 16px 'Roboto', sans-serif;
$font_20: 20px 'Roboto', sans-serif;
$font_24: 24px 'Roboto', sans-serif;

$naranja_300: #f77811;
$verde_800: #373D3D;
$verde_300: #09E07F;
$black_900: #000000;
$black_800: #222222;
$black_500: #787676;
$red_500: #eb2626;
$white_0: #ffffff; 
$white_100: #dfdfdf;

$margin_32_btn_top: 32px 0px 32px 0px;
$margin_12_btn_top: 12px 0px 12px 0px;
$margin_8_btn_top: 8px 0px 8px 0px;